<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>flower SEACHER</title>
  </head>

  <body>
    <h2>感染症診断アプリ</h2>
    <h1>Infection AI Web</h1>
    <p>
      Infection AI Webは、入力された画像の感染症を診断するアプリです。
      <br />
      診断したい画像をアップロードしてみましょう。
    </p>
    <form
      enctype="multipart/form-data"
      action="{% url 'flower:upload' %}"
      method="POST"
    >
      {% csrf_token %} {{form.as_p}}
      <br />
      <button type="submit">Upload</button>
      <a href="{% url 'flower:showall' %}">過去の結果一覧を見る</a>
    </form>
  </body>
</html>
